body {
    max-width: 1000px;
    margin: 0 auto;
}
#header {
    color: purple;
    background-color: rgb(255, 115, 0);
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    margin: auto;
}
.Project-title {
    color: brown;
    font-family: "Century Gothic", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode"; 
    font-style: italic;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: auto;
}
img {
    max-width: 50%;
    height: auto;
    align: center;
    margin-left: 280px;
    margin-bottom: 20px;
}

#first-sub-paragraph {
    background: powderblue;
    color: black;
    font-size: 16px;
    text-align: justify;
    padding: 10px;
    margin: auto;
}
.second_paragraph {
    color: black;
    background-color: skyblue;
    font-size: 16px;
    text-align: justify;
    padding: auto;
    margin-bottom: 48px;
}

#first {
    color: white;
    background-color: green;
    font-size: 16px;
    text-align: justify;
    padding: 10px;
    margin: auto;
}