#header {
    color: purple;
    background-color: #ff0;
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.Project-title {
    color: brown;
    font-family: "Century Gothic", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode"; 
    font-style: italic;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
img {
    max-width: 50%;
    height: auto;
    align: center;
}

#first-sub-paragraph {
    background: powderblue;
    color: black;
    font-size: 16px;
    text-align: justify;
}
.second_paragraph {
    color: black;
    background-color: skyblue;
    font-size: 16px;
    text-align: justify;
}

#first {
    color: white;
    background-color: green;
    font-size: 16px;
    text-align: justify;
}